{% extends 'catalog/base.html' %}
{% block main_content %}
{% load static %}
<form action="" method="POST">
      {% csrf_token %}
      {% if form.email.errors %}
      {{ form.email.errors }}
      {% endif %}
      <label for="email">Email:</label>
      <p name="email"> {{ form.email }} </p>
      <button type="submit" id="reset" style="background-color: rgba(10, 50, 150, 0.5);
      color: white;
      border-radius: 10px 0px 135px 0px;
      border: 0px solid #000000;
      box-shadow: 8px 7px 8px -9px rgba(0,0,0,0.75); width:10em"> Reset Password
      </button>
</form>
{% endblock main_content %}