{% extends 'catalog/base.html' %}
{% block main_content %}
 {% if validlink %}
      <p>Please enter and confirm your new password. </p>
      <form action="" method="POST">
            {% csrf_token %}

            <p>
                  {{ form.new_password1.errors }}
            </p>
            <p>
                  New Password: {{ form.new_password1 }}
            </p>
            <p>
                  {{ form.new_password2.errors }}
            </p>
            <p>
                  Confirm Password: {{ form.new_password2 }}
            </p>
            <button type="submit">Change my password </button>
      </form>
      {% else %}
      <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
 {% endif %}
{% endblock main_content %}
