{% extends 'catalog/base.html' %}

{% block main_content %}
<h4>Number of books: {{ num_books }} </h4>
      {% if list_of_all_books %}
      <ul>

      {% for book in list_of_all_books %}
            <li>
                  <a href="{{ book.get_absolute_url }}">
                        {{ book.title }}
                  </a>
                  ({{ book.author }})
            </li>
      {% endfor %}
      </ul>
      {% else %}
            <p>There are no books in the library.</p>
      {% endif %}
{% endblock main_content %}